html
    head
        link(rel="stylesheet" href="/style.css")
    body
        center 
        h1 Brittney's Favorite Shows
        p Welcome to my server! I have a created my own database that showcases some of my favorite shows. Each table in the database represents show data for a different streaming service - Netflix, Hulu and Starz.
        ul
        li
            a(href='/documentation/get') Get
        li
            a(href='/documentation/post') Post
        li
            a(href='/documentation/delete') Delete
        li
            a(href='/') Collapse
        br
        b GET /
        br
        | Description: This is the main API call.
        br
        | Response: This route return a file named index.pug.
        br
        | Route: localhost:1337
        br
        br
        b GET /documentation/api
        br
        | Description: The current page. Leads to documentation for each route.
        br
        | Response: This route return a file named api.pug.
        br
        | Route: localhost:1337/api
        br
        br
        b GET /shows
        br
        | Description: Will return all entries listed in the favorite shows database/object
        br
        | Route: localhost:1337/shows
        br
        | Output:
        br
        code const favShows = { streamingService: [ name: "Netflix", shows: [{ title: "The Vampire Diaries", numberofEps: 171, starring: "Nina Dobrev, Ian Somerhalder", favCharacter: "Bonnie"} , { title: "Breaking Bad", numberofEps: 62, starring: "Bryan Cranston, Aaron Paul", favCharacter: "Jesse", ... all other shows}
        br
        br 

        b GET /shows/netflix
        br
        b GET /shows/hulu
        br
        b GET /shows/starz
        br

        br
        b POST /shows/netflix
        br
        b POST /shows/hulu
        br
        b POST /shows/starz
        br
        | Description: This allows the user to add a new show based on the streaming service to the corresponding tables: Netflix, Hulu or Starz.
        br
        | Route: localhost:1337/addnewshow
        br
        | Request (Example Input):
        br
        code { title: "Umbrella Academy", numberofEps: 20, starring: "Elliot Page, Robert Sheehan", favCharacter: "Klaus" }
        br
        | Return: 
        br
        code const favShows = {[ all existing shows..., { title: "Umbrella Academy", numberofEps: 20, starring: "Elliot Page, Robert Sheehan", favCharacter: "Klaus" }]}
        br
        br
        b DELETE /shows/netflix/:id
        br
        b DELETE /shows/hulu/:id
        br
        b DELETE /shows/starz/:id
        br
        | Description: Deletes the show with the provided ID number from the database
        br
        | Route: localhost:1337/removeshow
        br