html
    head
        link(rel="stylesheet" href="public/style.css")
    body
        center 
        h1 Brittney's Favorite Shows
        p Welcome to my server! I have a created my own database that showcases some of my favorite shows. Each table in the database represents show data for a different streaming service - Netflix, Hulu and Starz.
        a(href='/api') This way to the API Documentation
        br
        a(href='/shows') This way to the data 