body {
  background-color: lightgrey;
  color: navy;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 75px;
}

code {
  background-color: oldlace;
  border-width: 50px;
  padding: 10px 10px 10px 10px;
  margin-top: 30px;
  line-height: 30px;
}